# environments
/env
/.idea
/.vscode
/.neptune
*/__pycache__/*

# images
/omniglot_realfake
omniglot_realfake.zip

# dataset files
*.csv
!small_dataset.csv

# models
*.pth

# CRC logs
train_*
debug_train*
optuna-tune*
optuna_tune*
train-*
eval_ps*